<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- axios -->
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- fontawesome -->
     <script src="https://kit.fontawesome.com/789b8db9f0.js" crossorigin="anonymous"></script>

     <!-- google font -->
    <!-- Star css -->
     <link rel="stylesheet" href="/css/star.css">
     <link rel="stylesheet" href="css/app.css">
   
    <title>E-Commerce</title>
</head>
<body class="d-flex flex-column vh-100">

   
    

<!-- logic for body -->

<%- body %>


<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" ></script>
</body>
</html>